@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.common-btn{
    background-color: #1D4ED8;
    color: white;
    padding: 8px 35px;
    border-radius: 10px;   
    border: none;
    font-size: 100%;
     font-family: 'Inter';
}
section{
    padding: 8px 70px;
    margin: 80px ;
}

/* nav start */
nav div{
    display: flex;
    justify-content: space-between;
    padding: 8px 70px;
    margin: 5px;
}
.nav-ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
a{
    text-decoration: none;
    color: #575757;
    font-family: 'Inter';
}
/* nav end */