@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.common-btn{
    background-color: #1D4ED8;
    color: white;
    padding: 8px 35px;
    border-radius: 10px;   
    border: none;
    font-size: 100%;
     font-family: 'Inter';
}
section{
    padding: 8px 70px;
    margin: 80px ;
}

/* nav start */
nav div{
    display: flex;
    justify-content: space-between;
    padding: 8px 70px;
    margin: 5px;
}
.nav-ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
a{
    text-decoration: none;
    color: #575757;
    font-family: 'Inter';
}
/* nav end */

/* hero section start */
header{
    background-image:
    linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0)),
    linear-gradient(to top right, rgba(0,0,0,0.6), rgba(0,0,0,0)), 
    url('./assets/banner.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content{
   text-align: center;
   display: grid;
   gap: 400px;
    font-family: 'Inter';
    padding-top: 50px;
}
.header-content div{
    display: grid;
    gap: 16px;
}
.header-content button{
    width: 30%;
    height: 80px;
   margin-left: 35%;
   padding: 10px;
   font-size: x-large;
}
header h1{
    color: white;
    font-size: 100px;
    
}
header p{
    color: white;
    font-size: 30px;
    font-weight: 300;
}
/* hero section end */
